<div class="container mtb">
  <div class="container">
    <section>
      <h2>Bairros Cadastrados</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cidade - Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="district in districts">
            <td>{{district.name}}</td>
            <td>{{district.city.name}} - {{district.city.state.initial}} </td>
          </tr>
        </tbody>
      </table>

      <!--form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"-->
      <form ng-submit="save()">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <!-- input type="hidden" name="authenticity_token" value="iAxAzq5eDG4jkfLdPB0tioFHY+lUAXaXCd0nf5kc5vJoRH169s8dbPIB9XGnrQXRdP9CxreZZQF9VUWs6rHFUA==" /-->
        <div class="field">
          <label for="user_email">Nome</label><br />
          <input autofocus="autofocus" class="form-control" type="text" ng-model="district.name" name="district[name]" />
        </div>

        <br>
        <div class="field">
          <label for="user_password">Estado</label><br />
          <select class="form-control" ng-model="state" ng-change="get_cities()">
            <option value="0">Selecione</option>
            <option ng-repeat="state in states" value="{{state.id}}">{{state.name}} - {{state.initial}}</option>
          </select><i aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></i>
        </div>

        <div class="field">
          <label for="user_password">Cidade</label><br />
          <select class="form-control" ng-model="district.city">
            <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
          </select><i aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></i>
        </div>

        <br>
        <div class="actions">
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Salvar</button>
        </div>
      </form>

    </section>
  </div>
</div>
