<div id="mtb">
  <div class="container mtb">

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="" ng-submit="search()">
            <div class="col-sm-2">
              <div class="row">
                <div class="col-sm-12">
                  Encontre um imóvel
                </div>
              </div>
              <!--div class="row">
                <div class="col-sm-12">
                  ou <a href="#">Busca Anvançada</a>
                </div>
              </div-->
            </div>

            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-2">
                  <span>Estado</span>
                </div>
                <div class="col-sm-3">
                  <span>Cidade</span>
                </div>
                <div class="col-sm-3">
                  <span>Bairro</span>
                </div>
                <div class="col-sm-2">
                  <span>Utilização</span>
                </div>
                <div class="col-sm-2">
                  <span>Tipo</span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2">
                  <select id="state" class="form-control" ng-model="search.state" ng-change="get_cities()">
                    <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select id="city" class="form-control" ng-model="search.city" ng-change="get_districts()">
                    <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select id="district" class="form-control" ng-model="search.district">
                    <option ng-repeat="district in districts" value="{{district.id}}">{{district.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select id="type_utilization" class="form-control" ng-model="search.utilization" ng-change="utilization_change()" >
                    <option value="" selected></option>
                    <option value="RESIDENCIAL" selected>RESIDENCIAL</option>
                    <option value="COMERCIAL" selected>COMERCIAL</option>
                    <option value="INDUSTRIAL" selected>INDUSTRIAL</option>
                    <option value="RURAL" selected>RURAL</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select id="type_type" class="form-control" ng-model="search.property_type">
                    <option ng-repeat="option in search.options_type" value="{{option}}">{{option}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-1">
              <div class="row">
                <div class="col-sm-12">
                  &nbsp
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary" name="button">Buscar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Realty Exchange</h1>
      </div>
      <div class="col-md-12 himg">
        <div style="height: 305px">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Imóveis</h3>
      </div>

      <div class="panel-body">
        <div class="row product-list">

              <div class="col-md-3 col-sm-6 product-item" ng-repeat="property in properties">
                <div class="product-container">

                  <div class="row">
                    <div class="col-md-12">
                      <a href="/property-details/{{property.id}}" class="product-image">
                        <img src="{{property.photo.image}}" />
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <h2><a href="#">Código do imóvel: {{property.id}}</a></h2>
                    </div>
                  </div>

                  <div class="row location">
                    <div class="col-sm-12">
                      <p class="product-description">{{property.kind.type}} - {{property.location.city}} - {{property.location.state}}</p>
                    </div>
                  </div>

                  <div class="row caracteristics_label">
                    <div class="col-sm-4">
                      <span class="text-muted">Quartos</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="text-muted">Banheiros</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="text-muted">Vagas</span>
                    </div>
                  </div>
                  <div class="row caracteristics">
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.dormitories_number}}</strong>
                    </div>
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.bathroom_number}}</strong>
                    </div>
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.parking_spaces}}</strong>
                    </div>
                  </div>
                                    
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="product-price">R$ {{property.values.sale}}</p>
                    </div>
                  </div>

                </div>
              </div>

            </div>
      </div>
    </div>
  </div>
</div>
