<div class="container mtb">
  <h2 class="text-center">Adicione fotos do imóvel</h2>

  <!-- FOTOS -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Fotos </h3>
    </div>

    <div class="panel-body">
      <div id="uploader">
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <div>
                <div style="float:right;">
                  <button ng-click="btn_upload()">Upload</button>
                  <button ng-click="btn_clean()">Remove all</button>
                </div>
                <input type="file" id="file1" multiple/>
              </div>
              <div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                <div>
                  <span>{{file.name}}</span>
                  <div style="float:right;">
                    <span>{{file.humanSize}}</span>
                    <a ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a>
                  </div>
              </div>
              <progress style="width:400px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
            </div>
          </div>
        </div>

        <div class="col-md-6">

        </div>
      </div>
    </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Fotos já adicionadas</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="photo in photos">
          <div class="photo_box">
            <div class="row">
              <div class="col-md-12">
                <img src="{{photo.image}}" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group has-warning">
    <button class="btn btn-primary" ng-click="finalize()">Finalizar</button>
  </div>

</div>
