<div class="container mtb">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Detalhes do imóvel</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <img src="http://www.betoimoveisrs.com.br/img/imoveis/imoveis212.jpg" width="100%" />
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12"><strong>Casa em</strong></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>{{property.location.city}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><strong>Valor: </strong>
              <h2>R$ {{property.values.sale}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Informações Básicas</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Condomínio: {{property.values.condo}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Domitórios: {{property.caracteristics.dormitories_number}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Suítes: {{property.caracteristics.suites_number}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Vagas: {{property.caracteristics.parking_spaces}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Área Útil: {{property.footage.useful_area}} metros</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Detalhes do imóvel</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h3>Mais detalhes</h3>
        </div>
      </div>
    </div>
  </div>
</div>
