<div class="container mtb">
  <div class="container">

    <h1>Resultados de imóveis de acordo com meu imóvel pretendido</h1>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">O imóvel que eu quero</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>No estado</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Na cidade</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>No bairro</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Na zona</span>
              </div>
            </div>
              
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong>{{property.location.state.name}}</strong>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong>{{property.location.city.name}}</strong>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong>{{property.location.district.name}}</strong>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <strong>{{property.location.zone}}</strong>
              </div>
            </div>

            
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Com <strong>{{property.caracteristics.suites_number}}</strong> suites</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Com <strong>{{property.caracteristics.dormitories_number}}</strong> quartos</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Com <strong>{{property.caracteristics.parking_spaces}}</strong> vagas de garagem</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Do tipo <strong>{{property.kind.type}}</strong></span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Para utilização <strong>{{property.kind.utilization}}</strong></span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Com área total de <strong>{{property.footage.total_area}}</strong> m²</span>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span>Com área construída de <strong>{{property.footage.useful_area}}</strong> m²</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Os imóveis que batem com as características</h3>
          </div>

          <div class="panel-body">
            <div class="row product-list">
              <div class="col-md-6 col-sm-12 product-item" ng-repeat="property in properties">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="/property-photos/{{property.id}}" class="product-image">
                        <img src="{{property.photo.image}}" />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h2><a href="#">Código do imóvel: {{property.id}}</a></h2>
                    </div>
                  </div>
                  <div class="row location">
                    <div class="col-xs-12">
                      <p class="product-description">{{property.kind.type}} - {{property.location.city}} - {{property.location.state}}</p>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-xs-4">
                      <button class="btn btn-default" type="button">Detalhes</button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-default" type="button">Editar</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="product-price">R$ {{property.values.sale}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
