<div class="container mtb">
  <form class="bootstrap-form-with-validation" ng-submit="save()">
    <h2 class="text-center">Cadastre seu imóvel para venda ou troca</h2>

    <div class="form-group has-warning">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>

    <!-- INFORMAÇÔES BÀSICAS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tipo</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="type_utilization" class="control-label">Utilização</label>
            <select id="type_utilization" class="form-control" ng-model="property.kind.utilization" ng-change="define_types()" >
              <option value="" selected></option>
              <option value="RESIDENCIAL" selected>RESIDENCIAL</option>
              <option value="COMERCIAL" selected>COMERCIAL</option>
              <option value="INDUSTRIAL" selected>INDUSTRIAL</option>
              <option value="RURAL" selected>RURAL</option>
            </select>
            <p class="bg-danger msg-alert" data-ng-show="utilization_not_selected"><span class="text-danger"> Você deve selecionar uma Utilização</span></p>
          </div>

          <div class="form-group col-sm-6">
            <label for="text-input" class="control-label">Tipo Imóvel</label>
            <select id="type_type" class="form-control" ng-model="property.kind.type">
              <option ng-repeat="option in options_type" value="{{option}}">{{option}}</option>
            </select>
            <p class="bg-danger msg-alert" data-ng-show="type_not_selected"><span class="text-danger"> Você deve selecionar um Tipo</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- LOCALIZACAO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Localização</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="location_cep" class="control-label">CEP</label>

            <div class="input-group">
              <input id="location_cep" type="text" name="cep" class="form-control" ng-model="property.location.postal_code" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="get_address()">
                  <span data-ng-hide="loading">
                    Buscar
                  </span>
                  <span data-ng-show="loading">
                    <i class="fa fa-spinner fa-spin"></i>
                  </span>
                </button>
              </span>
            </div><!-- /input-group -->
          </div>
          <div class="col-sm-9">
            <div class="row hidden-xs">
              <p> </p>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p id="cep_error" data-ng-show="cep_error" class="bg-danger" role="alert">
                  <span class="text-danger msg-alert"> Algo errado ocorreu com a busca do CEP, tente novamente.</span>
                </p>
              </div>
              <div class="col-sm-12">
                <p id="cep_not_found" data-ng-show="cep_not_found" class="bg-warning col-sm-12" role="alert">
                  <span class="text-warning msg-alert"> CEP informado não foi localizado. Verifique o CEP e tente novamente.</span>
                </p>
              </div>
              <div class="col-sm-12">
                <p id="cep_not-informed" data-ng-show="cep_not_informed" class="bg-warning col-sm-12" role="alert">
                  <span class="text-warning msg-alert"> CEP não foi informado. Por favor, informe o CEP.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-8">
            <label for="location_street" class="control-label">Endereço</label>
            <input id="location_street" type="text" name="street" class="form-control" ng-model="property.location.street" ng-disabled="street_disabled"/>
            <p data-ng-show="street_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-2">
            <label for="location_number" class="control-label">Número</label>
            <input id="location_number" type="text" name="number" class="form-control" ng-model="property.location.number" />
            <p data-ng-show="number_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório</span>
            </p>
          </div>

          <div class="form-group col-sm-2">
            <label for="location_complement" class="control-label">Complemento</label>
            <input id="location_complement" type="text" name="complement" class="form-control" id="text-input" ng-model="property.location.complement" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label for="location_unit" class="control-label">Unidade</label>
            <input id="location_unit" type="text" name="unit" class="form-control"  ng-model="property.location.unit" />
          </div>

          <div class="form-group col-sm-4">
            <label for="location_floor" class="control-label">Andar</label>
            <input id="text-input" type="text" name="floor" class="form-control"  ng-model="property.location.floor" />
          </div>

          <div class="form-group col-sm-4">
            <label for="location_block" class="control-label">Bloco</label>
            <input id="location_block" type="text" name="block" class="form-control" ng-model="property.location.block" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label for="location_district" class="control-label">Bairro</label>
            <input id="location_district" type="text" name="district" class="form-control" ng-model="property.location.district" ng-disabled="district_disabled"/>
            <p data-ng-show="district_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-4">
            <label for="location_zone" class="control-label">Zona</label>
            <input id="location_zone" type="text" name="zone" class="form-control" ng-model="property.location.zone" />
          </div>

          <div class="form-group col-sm-4">
            <label for="location_zoning" class="control-label">Zoneamento</label>
            <input id="location_zoning" type="text" name="zoning" class="form-control" ng-model="property.location.zoning" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label for="location_city" class="control-label">Cidade</label>
            <input id="location_city" type="text" name="city" class="form-control" ng-model="property.location.city" readonly="true"/>
            <p data-ng-show="city_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-4">
            <label for="location_state" class="control-label">Estado</label>
            <input id="location_state" type="text" name="location_state" class="form-control" ng-model="property.location.state" readonly="true"/>
            <p data-ng-show="state_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- CONSTRUÇÃO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Construção</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="construction_company" class="control-label">Nome Edifício</label>
            <input id="construction_company" type="text" name="construction_company" class="form-control" ng-model="property.construction.build_name" />
          </div>

          <div class="form-group col-sm-6">
            <label for="venture_name" class="control-label">Nome Empreendimento</label>
            <input id="venture_name" type="text" name="venture_name" class="form-control" ng-model="property.construction.venture_name" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="construction_company" class="control-label">Construtora</label>
            <input id="construction_company" type="text" name="construction_company" class="form-control" ng-model="property.construction.company" />
          </div>

          <div class="form-group col-sm-6">
            <label for="building_year" class="control-label">Ano Construção</label>
            <input id="building_year" type="text" name="building_year" class="form-control" ng-model="property.construction.building_year" />
          </div>
        </div>
      </div>
    </div>

    <!-- CARACTERISTICAS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Características</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="dormitories_number" class="control-label">Dormitórios</label>
            <input id="dormitories_number" type="number" name="dormitories_number" class="form-control" ng-model="property.caracteristics.dormitories_number" ng-disabled="disable_dormitories" />
            <p class="bg-danger msg-alert" data-ng-show="dormitories_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="suites_number" class="control-label">Suites</label>
            <input id="suites_number" type="number" name="suites_number" class="form-control" ng-model="property.caracteristics.suites_number" ng-disabled="disable_suites" />
            <p class="bg-danger msg-alert" data-ng-show="suites_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="parking_spaces" class="control-label">Vagas de Garagem</label>
            <input id="parking_spaces" type="number" name="parking_spaces" class="form-control" ng-model="property.caracteristics.parking_spaces" />
            <p class="bg-danger msg-alert" data-ng-show="parking_spaces_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="bathroom_number" class="control-label">Banheiros</label>
            <input id="bathroom_number" type="number" name="bathroom_number" class="form-control" ng-model="property.caracteristics.bathroom_number" />
            <p class="bg-danger msg-alert" data-ng-show="bathroom_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="living_room_number" class="control-label">Salas</label>
            <input id="living_room_number" type="number" name="living_room_number" class="form-control" ng-model="property.caracteristics.living_room_number" />
            <p class="bg-danger msg-alert" data-ng-show="living_room_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="text-input" class="control-label">Unidades por andar</label>
            <input id="text-input" type="number" name="text-input" class="form-control" ng-model="property.caracteristics.units_per_floor" ng-disabled="disable_units_per_floor" />
            <p class="bg-danger msg-alert" data-ng-show="units_per_floor_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="units_per_floor" class="control-label">Quantidade de Andares</label>
            <input id="floors_number" type="number" name="floors_number" class="form-control" ng-model="property.caracteristics.floors_number" ng-disabled="disable_floors_number" />
            <p class="bg-danger msg-alert" data-ng-show="floors_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="caracteristics_face" class="control-label">Face</label>
            <select id="caracteristics_face" name="caracteristics_face" class="form-control" ng-model="property.caracteristics.face" ng-disabled="disable_face">
              <option value="NORTE" selected>NORTE</option>
              <option value="SUL" selected>SUL</option>
              <option value="LEST" selected>LESTE</option>
              <option value="OESTE" selected>OESTE</option>
            </select>
            <p class="bg-danger msg-alert" data-ng-show="face_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- DOCUMENTACAO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Documentação</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="taxpayer_number" class="control-label">Número Contribuinte (IPTU)</label>
            <input id="taxpayer_number" type="number" name="taxpayer_number" class="form-control" ng-model="property.documentation.taxpayer_number" />
          </div>

          <div class="form-group col-sm-6">
            <label for="documentation_registry" class="control-label">Cartório de registro de imóveis</label>
            <input id="documentation_registry" type="number" name="documentation_registry" class="form-control" ng-model="property.documentation.registry" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="documentation.registration" class="control-label">Matrícula</label>
            <input id="documentation.registration" type="number" name="documentation.registration" class="form-control" ng-model="property.documentation.registration" />
          </div>

          <div class="form-group col-sm-6">
            <label for="documentation_transcription" class="control-label">Transcrição</label>
            <input id="documentation_transcription" type="number" name="documentation_transcription" class="form-control" ng-model="property.documentation.transcription" />
          </div>
        </div>
      </div>
    </div>

    <!-- METRAGENS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Metragens</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="footage_total_area" class="control-label">Área Total / Terreno</label>
            <input type="number" name="footage_total_area" class="form-control" id="footage_total_area" ng-model="property.footage.total_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_useful_area" class="control-label">Área Útil / Construída</label>
            <input type="number" name="footage_useful_area" class="form-control" id="footage_useful_area" ng-model="property.footage.useful_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_carpet_area" class="control-label">Área Carpete</label>
            <input type="number" name="footage_carpet_area" class="form-control" id="footage_carpet_area" ng-model="property.footage.carpet_area"  ng-disabled="disable_carpet_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_office_area" class="control-label">Área do Escritório</label>
            <input type="number" name="footage_office_area" class="form-control" id="footage_office_area" ng-model="property.footage.office_area" ng-disabled="disable_office_area" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="footage_support_area" class="control-label">Área Apoio</label>
            <input type="number" name="footage_support_area" class="form-control" id="footage_support_area" ng-model="property.footage.support_area" ng-disabled="disable_support_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_patio_area" class="control-label">Área Pátio</label>
            <input type="number" name="footage_patio_area" class="form-control" id="footage_patio_area" ng-model="property.footage.patio_area" ng-disabled="disable_patio_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_manufacturing_area" class="control-label">Área Fabril</label>
            <input type="number" name="footage_manufacturing_area" class="form-control" id="footage_manufacturing_area" ng-model="property.footage.manufacturing_area" ng-disabled="disable_manufacturing_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_ceiling_height" class="control-label">Pé Direito</label>
            <input type="number" name="footage_ceiling_height" class="form-control" id="footage_ceiling_height" ng-model="property.footage.ceiling_height" ng-disabled="disable_celing_height" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="footage_front_footage" class="control-label">Metragem Frente</label>
            <input type="number" name="footage_front_footage" class="form-control" id="footage_front_footage" ng-model="property.footage.front_footage" ng-disabled="disable_front_footage" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_back_footage" class="control-label">Metragem Fundo</label>
            <input type="number" name="footage_back_footage" class="form-control" id="footage_back_footage" ng-model="property.footage.back_footage" ng-disabled="disable_back_footage" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_left_footage" class="control-label">Metragem Esquerda</label>
            <input type="number" name="footage_left_footage" class="form-control" id="footage_left_footage" ng-model="property.footage.left_footage" ng-disabled="disable_left_footage" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_right_footage" class="control-label">Metragem Direita</label>
            <input type="number" name="footage_right_footage" class="form-control" id="footage_right_footage" ng-model="property.footage.right_footage" ng-disabled="disable_right_footage" />
          </div>
        </div>
      </div>
    </div>

    <!-- VALORES -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Valores </h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="value_sale" class="control-label">Valor de Venda</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input type="text" name="value_sale" class="form-control" id="value_sale" ng-model="property.values.sale" />
            </div>
            <p class="bg-danger msg-alert" data-ng-show="sale_value_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-4">
            <label for="value_condo" class="control-label">Valor de Condomínio</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input type="text" name="value_condo" class="form-control" id="value_condo" ng-model="property.values.condo" />
            </div>
            <p class="bg-danger msg-alert" data-ng-show="condo_value_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-4">
            <label for="value_tax" class="control-label">Valor de IPTU (Anual)</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input type="text" name="value_tax" class="form-control" id="value_tax" ng-model="property.values.tax" />
            </div>
            <p class="bg-danger msg-alert" data-ng-show="tax_value_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- DETALHES DA UNIDADE-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Detalhes Da Unidade</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3" ng-repeat="opc in unit_details_per_utilization">
            <div class="form-group">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="{{opc.key}}" ng-model="selected_unit_details[opc.key]" />{{opc.value}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DETALHES DO EMPREENDIMENTO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Detalhes Do Empreendimento</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3" ng-repeat="opc in enterprise_details_per_utilization">
            <div class="form-group">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="checkbox-input" ng-model="selected_enterprise_details[opc.key]" />{{opc.value}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- ESTUDA PERMUTA-->
    <!--div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="">
            <label>
              <input type="checkbox" name="checkbox-input" ng-model="study_exchange" ng-change="exchange_option_change()" />Estuda Permuta
            </label>
          </div>
        </h3>
      </div>

      <div id="study_exchange_form" class="panel-body hide">
        <!-- INFORMAÇÔES BÀSICAS - ->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipo</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="type_utilization" class="control-label">Utilização</label>
                <select id="type_utilization" class="form-control" ng-model="property.exchange_options.kind.utilization">
                  <optgroup label="Selecione">
                    <option value="RESIDENCIAL" selected>RESIDENCIAL</option>
                    <option value="COMERCIAL" selected>COMERCIAL</option>
                    <option value="INDUSTRIAL" selected>INDUSTRIAL</option>
                    <option value="RURAL" selected>RURAL</option>
                  </optgroup>
                </select>
              </div>

              <div class="form-group col-sm-6">
                <label for="text-input" class="control-label">Tipo Imóvel</label>
                <select id="type_type" class="form-control" ng-model="property.exchange_options.kind.type">
                  <optgroup label="Selecione">
                    <option value="APARTAMENTO" selected>APARTAMENTO</option>
                    <option value="AREA" selected>AREA</option>
                    <option value="CASA ASSOBRADADA" selected>CASA ASSOBRADADA</option>
                    <option value="CASA DE VILA" selected>CASA DE VILA</option>
                    <option value="CASA TÉRREA" selected>CASA TÉRREA</option>
                    <option value="CHACARA" selected>CHACARA</option>
                    <option value="COBERTURA" selected>COBERTURA</option>
                    <option value="COMERCIAL" selected>COMERCIAL</option>
                    <option value="CONDOMÍNIO" selected>CONDOMÍNIO</option>
                    <option value="1CONJ. COMERCIAL" selected>CONJ. COMERCIAL</option>
                    <option value="1DUPLEX" selected>DUPLEX</option>
                    <option value="FAZENDA" selected>FAZENDA</option>
                    <option value="FLAT" selected>FLAT</option>
                    <option value="GALPÃO" selected>GALPÃO</option>
                    <option value="LOJA" selected>LOJA</option>
                    <option value="PRÉDIO" selected>PRÉDIO</option>
                    <option value="SÍTIO" selected>SÍTIO</option>
                    <option value="SOBRADO" selected>SOBRADO</option>
                    <option value="TERRENO" selected>TERRENO</option>
                    <option value="TRIPLEX" selected>TRIPLEX</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- LOCALIZACAO - ->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Localização</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="exchange_location_district" class="control-label">Bairro</label>
                <input id="exchange_location_district" type="text" name="exchange_location_district" class="form-control" ng-model="property.exchange_options.location.district" />
              </div>

              <div class="form-group col-sm-4">
                <label for="exchange_location_zone" class="control-label">Zona</label>
                <select id="exchange_location_zone" name="exchange_location_zone" class="form-control" ng-model="property.exchange_options.location.zone">
                  <optgroup label="Selecione">
                    <option value="NORTE" selected>NORTE</option>
                    <option value="SUL" selected>SUL</option>
                    <option value="LEST" selected>LESTE</option>
                    <option value="OESTE" selected>OESTE</option>
                  </optgroup>
                </select>
              </div>

            </div>

            <div class="row">
              <div class="form-group col-sm-4">
                <label for="exchange_location_state" class="control-label">Estado</label>
                <input id="exchange_location_state" type="text" name="exchange_location_state" class="form-control" ng-model="property.exchange_options.location.state" />
              </div>

              <div class="form-group col-sm-4">
                <label for="exchange_location_city" class="control-label">Cidade</label>
                <input id="exchange_location_city" type="text" name="exchange_location_city" class="form-control" ng-model="property.exchange_options.location.city" />
              </div>
            </div>
          </div>
        </div>

        <!-- CARACTERISTICAS - ->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Características</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="exchange_dormitories_number" class="control-label">Dormitórios</label>
                <input id="exchange_dormitories_number" type="text" name="exchange_dormitories_number" class="form-control" ng-model="property.exchange_options.caracteristics.dormitories_number" />
              </div>

              <div class="form-group col-sm-3">
                <label for="exchange_suites_number" class="control-label">Suites</label>
                <input id="exchange_suites_number" type="text" name="exchange_suites_number" class="form-control" ng-model="property.exchange_options.caracteristics.suites_number" />
              </div>

              <div class="form-group col-sm-3">
                <label for="exchange_parking_spaces" class="control-label">Vagas de Garagem</label>
                <input id="exchange_parking_spaces" type="text" name="exchange_parking_spaces" class="form-control" ng-model="property.exchange_options.caracteristics.parking_spaces" />
              </div>
            </div>
          </div>
        </div>

        <!-- METRAGENS - ->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Metragens</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="exchange_footage_total_area" class="control-label">Área Total / Terreno</label>
                <input type="text" name="exchange_footage_total_area" class="form-control" id="exchange_footage_total_area" ng-model="property.exchange_options.footage.total_area" />
              </div>

              <div class="form-group col-sm-3">
                <label for="exchange_footage_useful_area" class="control-label">Área Útil / Construída</label>
                <input type="text" name="exchange_footage_useful_area" class="form-control" id="exchange_footage_useful_area" ng-model="property.exchange_options.footage.useful_area" />
              </div>

              <div class="form-group col-sm-3">
                <label for="footage_carpet_area" class="control-label">Área Carpete</label>
                <input type="text" name="exchange_footage_carpet_area" class="form-control" id="exchange_footage_carpet_area" ng-model="property.exchange_options.footage.carpet_area" />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-3">
                <label for="exchange_footage_front_footage" class="control-label">Metragem Frente</label>
                <input type="text" name="exchange_footage_front_footage" class="form-control" id="exchange_footage_front_footage" ng-model="property.exchange_options.footage.front_footage" />
              </div>

              <div class="form-group col-sm-3">
                <label for="exchange_footage_back_footage" class="control-label">Metragem Fundo</label>
                <input type="text" name="exchange_footage_back_footage" class="form-control" id="exchange_footage_back_footage" ng-model="property.exchange_options.footage.back_footage" />
              </div>
            </div>
          </div>
        </div>

        <!-- TEXTO LIVRE - ->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Texto livre</h3>
          </div>
          <div class="panel-body">
            <textarea name="name" id="property-exchange_options-free_text" ng-model="property.exchange_options.free_text"></textarea>
          </div>
        </div>
      </div>
    </div-->

    <div class="form-group has-warning">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
