<div class="container mtb">
  <form class="bootstrap-form-with-validation" ng-submit="save()">
    <h2 class="text-center">Cadastre quais as características do imóvel que você deseja</h2>

    <!-- INFORMAÇÔES BÀSICAS - UTILIZAÇÃO E TIPO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tipo</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="type_utilization" class="control-label">Utilização</label>
            <select id="type_utilization" class="form-control" ng-model="property.kind.utilization" ng-change="define_types()" >
              <option value="" selected></option>
              <option value="RESIDENCIAL" selected>RESIDENCIAL</option>
              <option value="COMERCIAL" selected>COMERCIAL</option>
              <option value="INDUSTRIAL" selected>INDUSTRIAL</option>
              <option value="RURAL" selected>RURAL</option>
            </select>
            <p class="bg-danger msg-alert" data-ng-show="utilization_not_selected"><span class="text-danger"> Você deve selecionar uma Utilização</span></p>
          </div>

          <div class="form-group col-sm-6">
            <label for="text-input" class="control-label">Tipo Imóvel</label>
            <select id="type_type" class="form-control" ng-model="property.kind.type">
              <option ng-repeat="option in options_type" value="{{option}}">{{option}}</option>
            </select>
            <p class="bg-danger msg-alert" data-ng-show="type_not_selected"><span class="text-danger"> Você deve selecionar um Tipo</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- LOCALIZACAO -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Localização</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="location_state" class="control-label">Estado</label>
            <select id="state" class="form-control" ng-model="property.location.state" ng-change="get_cities()">
              <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
            </select>
            <p data-ng-show="state_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-3">
            <label for="location_city" class="control-label">Cidade</label>
            <select id="city" class="form-control" ng-model="property.location.city" ng-change="get_districts()">
              <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
            </select>
            <p data-ng-show="city_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-3">
            <label for="location_district" class="control-label">Bairro</label>
            <select id="district" class="form-control" ng-model="property.location.district">
              <option ng-repeat="district in districts" value="{{district.id}}">{{district.name}}</option>
            </select>
            <p data-ng-show="district_ni" class="bg-danger msg-alert" role="alert">
              <span class="text-warning">Campo obrigatório. Verifique se o CEP foi consultado.</span>
            </p>
          </div>

          <div class="form-group col-sm-3">
            <label for="location_zone" class="control-label">Zona</label>
            <select id="district" class="form-control" ng-model="property.location.zone" ng-change="get_properties()">
              <option value=""></option>
              <option value="NORTE">Norte</option>
              <option value="SUL">Sul</option>
              <option value="LESTE">Leste</option>
              <option value="OESTE">Oeste</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    
    <!-- CARACTERISTICAS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Características</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="dormitories_number" class="control-label">Dormitórios</label>
            <input id="dormitories_number" type="number" name="dormitories_number" class="form-control" ng-model="property.caracteristics.dormitories_number" ng-disabled="disable_dormitories" />
            <p class="bg-danger msg-alert" data-ng-show="dormitories_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="suites_number" class="control-label">Suites</label>
            <input id="suites_number" type="number" name="suites_number" class="form-control" ng-model="property.caracteristics.suites_number" ng-disabled="disable_suites" />
            <p class="bg-danger msg-alert" data-ng-show="suites_number_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="parking_spaces" class="control-label">Vagas de Garagem</label>
            <input id="parking_spaces" type="number" name="parking_spaces" class="form-control" ng-model="property.caracteristics.parking_spaces" />
            <p class="bg-danger msg-alert" data-ng-show="parking_spaces_ni"><span class="text-danger">Campo Obrigatório</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- METRAGENS -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Metragens</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="footage_total_area" class="control-label">Área Total / Terreno</label>
            <input type="number" name="footage_total_area" class="form-control" id="footage_total_area" ng-model="property.footage.total_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_useful_area" class="control-label">Área Útil / Construída</label>
            <input type="number" name="footage_useful_area" class="form-control" id="footage_useful_area" ng-model="property.footage.useful_area" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_carpet_area" class="control-label">Área Carpete</label>
            <input type="number" name="footage_carpet_area" class="form-control" id="footage_carpet_area" ng-model="property.footage.carpet_area"  ng-disabled="disable_carpet_area" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="footage_front_footage" class="control-label">Metragem Frente</label>
            <input type="number" name="footage_front_footage" class="form-control" id="footage_front_footage" ng-model="property.footage.front_footage" ng-disabled="disable_front_footage" />
          </div>

          <div class="form-group col-sm-3">
            <label for="footage_back_footage" class="control-label">Metragem Fundo</label>
            <input type="number" name="footage_back_footage" class="form-control" id="footage_back_footage" ng-model="property.footage.back_footage" ng-disabled="disable_back_footage" />
          </div>
        </div>
      </div>
    </div>

    <!-- TEXTO LIVRE -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">TEXTO LIVRE</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <textarea rows="" cols="" class="input-number" ng-model="property.text"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group has-warning">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
