<div class="container mtb">
  <div class="container">

    <section>
      <h2>Registre-se</h2>

      <p><span class="text-danger">{{login_message}}</span></p>


      <!--form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"-->
      <form ng-submit="register()">
        <input name="utf8" type="hidden" value="&#x2713;" />

        <div class="row">
          <div class="form-group col-sm-5">
            <label for="user_name">Nome</label><br />
            <input autofocus="autofocus" class="form-control" type="text" ng-model="user.name" name="name" />
            <p class="msg-alert" data-ng-show="name_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-5">
            <label for="user_last_name">Sobrenome</label><br />
            <input autofocus="autofocus" class="form-control" type="text" ng-model="user.last_name" name="last_name" />
            <p class="msg-alert" data-ng-show="last_name_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-2">
            <label for="text-input" class="control-label">Sexo</label>
            <select class="form-control" ng-model="user.gender">
              <option value="M" selected>Masculino</option>
              <option value="F" selected>Feminino</option>
            </select>
            <p class="msg-alert" data-ng-show="gender_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-5">
            <label for="user_rg">RG / RNE</label><br />
            <input autofocus="autofocus" class="form-control number-mask" type="text" ng-model="user.rg" name="user_rg" />
            <p class="msg-alert" data-ng-show="rg_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-5">
            <label for="user_cpf">CPF</label><br />
            <input id="register-cpf" class="form-control" type="text" ng-model="user.cpf" name="user_cpf" />
            <p class="msg-alert" data-ng-show="cpf_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-2">
            <label for="text-input" class="control-label">Estado Civil</label>
            <select class="form-control" ng-model="user.marital_status">
              <option value="SOLTEIRO" selected>SOLTEIRO(A)</option>
              <option value="CASADO" selected>CASADO(A)</option>
              <option value="SEPARADO" selected>SEPARADO(A)</option>
              <option value="DIVORCIADO" selected>DIVORCIADO(A)</option>
              <option value="UNIAO ESTAVEL" selected>UNIÃO ESTÁVEL(A)</option>
            </select>
            <p class="msg-alert" data-ng-show="marital_status_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="home_phone">Telefone Residencial</label><br />
            <input autofocus="autofocus" class="form-control phone-mask" type="text" ng-model="user.home_phone" name="home_phone" />
            <p class="msg-alert" data-ng-show="home_phone_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="commercial_phone">Telefone Comercial</label><br />
            <input autofocus="autofocus" class="form-control phone-mask" type="text" ng-model="user.commercial_phone" name="commercial_phone" />
          </div>

          <div class="form-group col-sm-3">
            <label for="cell_phone">Telefone Celular</label><br />
            <input autofocus="autofocus" class="form-control cell-phone-mask" type="text" ng-model="user.cell_phone" name="cell_phone" />
            <p class="msg-alert" data-ng-show="cell_phone_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-3">
            <label for="cell_phone2">Telefone Celular 2</label><br />
            <input autofocus="autofocus" class="form-control cell-phone-mask" type="text" ng-model="user.cell_phone2" name="cell_phone2" />
          </div>
        </div>


        <div class="row">
          <div class="form-group col-sm-6">
            <label for="user_email">Email (Login)</label><br />
            <input autofocus="autofocus" class="form-control" type="email" ng-model="user.email" name="email" />
            <p class="msg-alert" data-ng-show="email_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-6">
            <label for="user_alternative_email">Email Alternativo</label><br />
            <input autofocus="autofocus" class="form-control" type="email" ng-model="user.alternative_email" name="alternative_email" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="user_password">Senha</label><br />
            <input autocomplete="off" class="form-control" type="password" ng-model="user.password" />
            <p class="msg-alert" data-ng-show="password_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>

          <div class="form-group col-sm-6">
            <label for="user_password_confirmation">Confirme sua senha</label><br />
            <input autocomplete="off" type="password" class="form-control" name="user[password_confirmation]" ng-model="user.password_confirmation" />
            <p class="msg-alert" data-ng-show="password_confirmation_ni"><span class="text-danger">* Campo obrigatório</span></p>
          </div>
        </div>



        <br />
        <div class="actions">
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Cadastrar</button>
        </div>
      </form>
    </section>

  </div>
</div>
