<div class="container mtb">
  <div class="container">

    <h1>Dashboard do Usuário</h1>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Meus Imóveis</h3>
          </div>

          <div class="panel-body">
            <div class="row product-list">
              <div class="col-md-6 col-sm-12 product-item" ng-repeat="property in properties">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="/property-photos/{{property.id}}" class="product-image">
                        <img src="{{property.photo.image}}" />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h2><a href="#">Código do imóvel: {{property.id}}</a></h2>
                    </div>
                  </div>
                  <div class="row location">
                    <div class="col-xs-12">
                      <p class="product-description">{{property.kind.type}} - {{property.location.city}} - {{property.location.state}}</p>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-xs-4">
                      <button class="btn btn-default" type="button">Detalhes</button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-default" type="button">Editar</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="product-price">R$ {{property.values.sale}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Imóveis Pretendidos</h3>
          </div>

          <div class="panel-body">
            <div class="row product-list">
              <div class="col-md-6 col-sm-12 product-item" ng-repeat="proper in properties_intended">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="/property-intended/results/{{proper.id}}" class="product-image">
                        <img src="/imovel.jpg" />
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h2><a href="/property-intended/results/{{proper.id}}">Código do imóvel: {{proper.id}}</a></h2>
                    </div>
                  </div>
                  <div class="row location">
                    <div class="col-xs-12">
                      <p class="product-description">{{proper.kind.type}} - {{proper.location.city}} - {{proper.location.state}}</p>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-xs-4">
                      <a class="btn btn-default">Detalhes</button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-default" type="button">Editar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
