//var realtyExchangeApp = angular.module('realty-exchange-app', ['ngRoute', 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ngFileUpload']);
var realtyExchangeApp = angular.module('realty-exchange-app', ['ngRoute', 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ui.uploader']);

realtyExchangeApp
  .config( ["$httpProvider", function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  }]);


realtyExchangeApp
  .config(["$routeProvider", "$locationProvider", function($routeProvider, $locationProvider) {
  	$locationProvider.html5Mode({
      enabled: true,
      requireBase: false
    });
    $routeProvider
      .when('/', {
        templateUrl: "<%= asset_path('home.html') %>",
        controller: 'HomeCtrl'
      })
      .when('/login', {
        templateUrl: "<%= asset_path('login.html') %>",
        controller: 'LoginCtrl'
      })
      .when('/register', {
        templateUrl: "<%= asset_path('register.html') %>",
        controller: 'RegisterCtrl'
      })
      .when('/dashboard', {
        templateUrl: "<%= asset_path('user_dashboard.html') %>",
        controller: 'UserDashboardCtrl'
      })
      .when('/property-register', {
        templateUrl: "<%= asset_path('property_form.html') %>",
        controller: 'PropertyCtrl'
      })
      .when('/property-intended', {
        templateUrl: "<%= asset_path('property_intended_form.html') %>",
        controller: 'PropertyIntendedCtrl'
      })
      .when('/property-intended/results/:id', {
        templateUrl: "<%= asset_path('property_intended_results.html') %>",
        controller: 'PropertyIntendedResultsCtrl'
      })
      .when('/property-photos/:id', {
        templateUrl: "<%= asset_path('property_photos.html') %>",
        controller: 'PropertyPhotosCtrl'
      })
      .when('/property-details/:id', {
        templateUrl: "<%= asset_path('property_details.html') %>",
        controller: 'PropertyDetailsCtrl'
      })
      .when('/search', {
        templateUrl: "<%= asset_path('properties_results.html') %>",
        controller: 'PropertiesResultsCtrl'
      })
      .when('/states', {
        templateUrl: "<%= asset_path('states.html') %>",
        controller: 'StatesCtrl'
      })
      .when('/cities', {
        templateUrl: "<%= asset_path('cities.html') %>",
        controller: 'CitiesCtrl'
      })
      .when('/districts', {
        templateUrl: "<%= asset_path('districts.html') %>",
        controller: 'DistrictsCtrl'
      })
      .otherwise({
        templateUrl: "<%= asset_path('NotFound.html') %>",
        controller: 'NotFoundCtrl'
      });
  }]);



/*
function NavCtrl($scope, $http) {
  $scope.supplier = "";
  $scope.project = "";

  $scope.get_my_profile = function() {
		$http.get( '/my_profile/' ).success( function( user ) {
			$scope.supplier = user.user_detail.supplier;
			$scope.project = user.user_detail.project;
		});
	}

  $scope.get_my_profile();
}

notifyApp.controller('NavCtrl', ['$scope', '$http', NavCtrl]);
*/
