/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require bootstrap
  *= require font-awsome
  *= require_self
  *= require_tree .
 */

.site-body {
  margin-top: 70px;
}

.photo_box {
  background-color: #f5f5f5;
  border-color: #000;
  border: 2px solid #000;
  margin-bottom: 15px;
}

.msg-alert {
  margin: 0px;
}

.input-number {
  width: 100%;
}

.pdng-rgt-0 { padding-right: 0px !important; }

