<div class="container mtb">
  <div class="container">
    <section>
      <h2>Cidades Cadastrados</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="city in cities">
            <td>{{city.name}}</td>
            <td>{{city.state.name}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <!--form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"-->
      <form ng-submit="save_city()">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <!-- input type="hidden" name="authenticity_token" value="iAxAzq5eDG4jkfLdPB0tioFHY+lUAXaXCd0nf5kc5vJoRH169s8dbPIB9XGnrQXRdP9CxreZZQF9VUWs6rHFUA==" /-->
        <div class="field">
          <label for="user_email">Nome</label><br />
          <input autofocus="autofocus" class="form-control" type="text" ng-model="city.name" name="city[name]" />
        </div>

        <br>
        <div class="field">
          <label for="user_password">Estado</label><br />
          <select class="form-control" ng-model="city.state">
            <option ng-repeat="state in states" value="{{state.id}}">{{state.name}} - {{state.initial}}</option>
          </select><i aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></i>
        </div>

        <br>
        <div class="actions">
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Salvar</button>
        </div>
      </form>

    </section>
  </div>
</div>
