<div class="container mtb">
  <div class="container">

    <section>
      <h2>Fazer login</h2>

      <span>{{login_message}}</span>

      <!--form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"-->
      <form ng-submit="login()" class="new_user" id="new_user">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <!-- input type="hidden" name="authenticity_token" value="iAxAzq5eDG4jkfLdPB0tioFHY+lUAXaXCd0nf5kc5vJoRH169s8dbPIB9XGnrQXRdP9CxreZZQF9VUWs6rHFUA==" /-->
        <div class="field">
          <label for="user_email">Email</label><br />
          <input autofocus="autofocus" class="form-control" type="email" ng-model="user.email" name="email" />
        </div>

        <div class="field">
          <label for="user_password">Senha</label><br />
          <input autocomplete="off" class="form-control" type="password" ng-model="user.password" />
        </div>

        <div class="field">
          <input ng-model="user.remember_me" type="hidden" value="0" />
          <input type="checkbox" value="1" ng-model="user.remember_me" />
          <label for="user_remember_me">Manter logado</label>
        </div>

        <div class="actions">
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Entrar</button>
        </div>
      </form>

      <a href="/users/sign_up">Faça seu cadastro</a><br />

      <a href="/users/password/new">Esqueceu sua senha?</a><br />

    </section>

  </div>
</div>
