<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>URL não encontrada</h1>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        <!--img src="assets/img/browser.png" class="img-responsive"-->
      </div>
    </div>
  </div>
</div>
