<div class="container mtb">
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Filtros de busca</h3>
          </div>

          <div class="panel-body">
            <form class="" ng-submit="get_properties()">
              <div class="form-group">
                <label for="">Estado</label>
                <select id="state" class="form-control" ng-model="search.state" ng-change="get_cities()">
                  <option value=""></option>
                  <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Cidade</label>
                <select id="city" class="form-control" ng-model="search.city" ng-change="get_districts()">
                  <option value=""></option>
                  <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Bairro</label>
                <select id="district" class="form-control" ng-model="search.district" ng-change="get_properties()">
                  <option value=""></option>
                  <option ng-repeat="district in districts" value="{{district.id}}">{{district.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Zona</label>
                <select id="district" class="form-control" ng-model="search.zone" ng-change="get_properties()">
                  <option value=""></option>
                  <option value="NORTE">Norte</option>
                  <option value="SUL">Sul</option>
                  <option value="LESTE">Leste</option>
                  <option value="OESTE">Oeste</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Utilização</label>
                <select id="type_utilization" class="form-control" ng-model="search.utilization" ng-change="utilization_change()" >
                  <option value="" selected></option>
                  <option value="RESIDENCIAL" selected>RESIDENCIAL</option>
                  <option value="COMERCIAL" selected>COMERCIAL</option>
                  <option value="INDUSTRIAL" selected>INDUSTRIAL</option>
                  <option value="RURAL" selected>RURAL</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Tipo</label>
                <select id="type_type" class="form-control" ng-model="search.property_type">
                  <option ng-repeat="option in search.options_type" value="{{option}}">{{option}}</option>
                </select>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-8">
                    <label for="">Dormitórios</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="number" class="form-control input-number" ng-model="search.dormitories_number">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-8">
                    <label for="">Suites</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="number" class="form-control input-number" ng-model="search.suites_number">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-8">
                    <label for="">Vagas Garagem</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="number" class="form-control input-number" ng-model="search.parking_spaces">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Área Total (m²)</label>
                <div class="row">
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Min" ng-model="search.total_area_min">
                  </div> 
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Max" ng-model="search.total_area_max">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Área Útil (m²)</label>
                <div class="row">
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Min" ng-model="search.useful_area_min">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Max" ng-model="search.useful_area_max">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Área Carpete (m²)</label>
                <div class="row">
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Min" ng-model="search.carpet_area_min">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Max" ng-model="search.carpet_area_max">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Metragem Frente</label>
                <div class="row">
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Min" ng-model="search.front_footage_min">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Max" ng-model="search.front_footage_max">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Metragem Fundos</label>
                <div class="row">
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Min" ng-model="search.back_footage_min">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <input type="number" class="form-control input-number" placeholder="Max" ng-model="search.back_footage_max">
                  </div>
                  <div class="col-sm-4 pdng-rgt-0">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resultado da busca</h3>
          </div>

          <div class="panel-body">
            <h3 ng-show="no_result">Nenhum imóvel encontrado com as caractéristicas solicitadas</h3>

            <div class="row product-list">

              <div class="col-md-4 col-sm-6 product-item" ng-repeat="property in properties">
                <div class="product-container">

                  <div class="row">
                    <div class="col-md-12">
                      <a href="/property-photos/{{property.id}}" class="product-image">
                        <img src="" />
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <h2><a href="#">Código do imóvel: {{property.id}}</a></h2>
                    </div>
                  </div>

                  <div class="row location">
                    <div class="col-sm-12">
                      <p class="product-description">{{property.kind.type}} - {{property.location.city}} - {{property.location.state}}</p>
                    </div>
                  </div>

                  <div class="row caracteristics_label">
                    <div class="col-sm-4">
                      <span class="text-muted">Quartos</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="text-muted">Banheiros</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="text-muted">Vagas</span>
                    </div>
                  </div>
                  <div class="row caracteristics">
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.dormitories_number}}</strong>
                    </div>
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.bathroom_number}}</strong>
                    </div>
                    <div class="col-sm-4 text-center">
                      <strong>{{property.caracteristics.parking_spaces}}</strong>
                    </div>
                  </div>
                                    
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="product-price">R$ {{property.values.sale}}</p>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
