<div class="container mtb">
  <div class="container">
    <section>
      <h2>Estados Cadastrados</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Abreviação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="state in states">
            <td>{{state.name}}</td>
            <td>{{state.initial}}</td>
          </tr>
        </tbody>
      </table>

      <!--form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"-->
      <form ng-submit="save()" class="new_user" id="new_user">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <!-- input type="hidden" name="authenticity_token" value="iAxAzq5eDG4jkfLdPB0tioFHY+lUAXaXCd0nf5kc5vJoRH169s8dbPIB9XGnrQXRdP9CxreZZQF9VUWs6rHFUA==" /-->
        <div class="field">
          <label for="user_email">Nome</label><br />
          <input autofocus="autofocus" class="form-control" type="text" ng-model="state.name" name="state[name]" />
        </div>

        <br>
        <div class="field">
          <label for="user_password">Abreviação</label><br />
          <input autocomplete="off" class="form-control" type="password" ng-model="state.initial" />
        </div>

        <br>
        <div class="actions">
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Salvar</button>
        </div>
      </form>

    </section>
  </div>
</div>
