<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Realty Exchange</a>
    </div>

    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">DASHBOARD</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CADASTROS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/states">ESTADOS</a></li>
            <li><a href="/cities">CIDADES</a></li>
            <li><a href="/districts">BAIRROS</a></li>
            <li><a href="/users">USUÁRIOS</a></li>
          </ul>
        </li>

        <li><a href="contact.html">CONTACT</a></li>
        <li><%= link_to "SAIR", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>
