<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Realty Exchange</a>
    </div>

    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/property-register">CADASTRE UM IMÓVEL</a></li>
        <li><a href="/property-intended">CADASTRE UM IMÓVEL PRETENDIDO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li><%= link_to "SAIR", destroy_user_session_path, :method => :delete %></li>

        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="single-post.html">SINGLE POST</a></li>
            <li><a href="portfolio.html">PORTFOLIO</a></li>
            <li><a href="single-project.html">SINGLE PROJECT</a></li>
          </ul>
        </li-->
      </ul>
    </div>
  </div>
</div>
