<!DOCTYPE html>
<html ng-app="realty-exchange-app">
  <head>
    <title>Realty Exchange - User</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="">
      <%= render partial: "layouts/navigation_user" %>
    </header>

    <section ng-view>
      <%= yield %>
    </section>

    <footer>
      <%= render partial: "layouts/footer" %>
    </footer>
  </body>
</html>
